@import "./styles/header.css";
@import "./styles/cards.css";

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #000C17;
    display: grid;
    color: #E89A26;
    grid-template-rows: 155px auto 55px;
    height: 100vh;
    font-family: Harry P;
    font-size: 1.4rem;
}




