@import "./styles/header.css";

* {
    box-sizing: border-box;
    margin: 0;
}

body{
   
    background-color: #000C17;
    display: grid;
    color: #E89A26;
    grid-template-rows: 160px auto 55px;
    height: 100vh;
    font-family: Harry P;
    font-size: 1.4rem;
}

.main {
    overflow-y: auto;
    overflow-x: hidden;
    gap: 20px;
}

.main__list{
    list-style: none; 
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}

.list__button {
    width: 100px;
    height: 170px; 
    margin: 0;
    background-color: #023E67;
    border: #E89A26 double;
    border-radius: 10px;
}

.list__character {
   display: flex;
   flex-direction: column;
   align-items:center;
   align-content: flex-start;
   justify-content: flex-start;

   padding: 3px;
   gap: 5px;
}

.list__card-image {
    width: 70px;
    height: 100px;
    border: #000C17 double;
    border-radius: 10px;
}

.list__characterName {
    font-family: Harry P;
    font-size: 1.2rem;
    font-weight: 400;
    color: #E89A26;
}

.list__character--active{
    background-color: #000C17;
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-around;
    align-items: center;
    
}

.list__card-image--active {
    border-radius: 10px;
    height: 200px;
}


.card__element--active {
    width: 90vw;
    height: 60vh;
}





