.cards__container {
  overflow-y: auto;
  overflow-x: hidden;
  gap: 20px;
}

.cards__container-list {
  list-style: none;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}

.card__element {
  position: relative;
}

.cards__container-button {
  width: 100px;
  height: 170px;
  margin: 0;
  padding: 10px;
  background-color: #023e67;
  border: #e89a26 double;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}

.cards__bookmark-button {
  position: absolute;
  background-color: transparent;
  color: #e89a26;
  border: 0;
  padding: 3px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 5px;
  top: -5px;
  z-index: 2;
}

.cards__container-image {
  width: 70px;
  height: 100px;
  border: #000c17 double;
  border-radius: 10px;
}

.cards__characterName {
  font-family: Harry P;
  font-weight: 400;
  font-size: 1rem;
  color: #e89a26;
}

.cards__character-infos-container {
  margin-top: 10px;
}

.cards__character-infos {
  font-family: Harry P;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #e89a26;
  font-size: 1rem;
}

.cards__character--active {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: #023e67 double;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  background-color: #000c17;
  width: 97%;
}

.cards__image--active {
  border-radius: 10px;
  height: 200px;
}

.card__element--active {
  width: 90vw;
  height: 55vh;
  position: relative;
}

.cards__bookmark-button--active {
  background-color: transparent;
  color: rgb(128, 5, 5);

}
